.button-background {
    background-color: green;
}

.checkmark {
    background-color: pink;
}

.container input:checked ~ .checkmark {
    background-color: orange;
}

.container .checkmark:after {
    background: yellow;
} 