


*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
}

html .style1 {
  background-color: hsl(222, 26%, 31%);
}

html .style2 {
  background-color: aqua;
}

html .style3 {
  background-color: blueviolet;
}

* .style1, * .style2, * .style3 {
  transition: all 2s ease-out;
}

body {
  margin: 0;
  padding: 0;
}

.main-content {
  width: 375px;
  height: 667px;
  margin: auto;
  padding: 24px;
}

.top {
  display: flex;
  justify-content: space-between;
}

h1 {
  color: hsl(0, 0%, 100%);
}

  /* Customize Radio Buttons https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
 
  /* My Styling */

.style-selector { 
  display: flex;
  margin: 10px;
} 

.style-selector h2 {
  font-size: 0.75rem;
  margin: 0;
  align-self: center;
  color: hsl(0, 0%, 100%);
  padding: 0px 17px 7px 0px;
}

.button-container {
    width: 20px;
}

.button-container p {
    text-align: center;
    margin: 0px;
    padding-bottom: 20px;
  }

  .button-background {
      background-color: hsl(223, 31%, 20%);
      height: 20px;
      width: 60px;
      margin: 15px 0px 0px -54px;
      border-radius: 10px;
  }

  /* W3 Styling */

   /* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 12px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 0.75rem;
    color: hsl(0, 0%, 100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 15px;
    left: 6px;
    height: 20px;
    width: 20px;
    background-color: hsl(223, 31%, 20%);
    border-radius: 50%;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: hsl(223, 31%, 20%);
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 3px;
    left: 3px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: hsl(6, 63%, 50%);
  } 

  .style2 .container .checkmark:after {
    background-color: aqua; 
  }

  .style3 .container .checkmark:after {
    background-color: blueviolet;
  }

  /* Calculator Grid Styling */

  .calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: minmax(60px, auto) repeat(4, 60px);
    gap: 17px 13px;
    background-color: hsl(223, 31%, 20%);
    padding: 24px;
    border-radius: 10px;
  }
  
  .calculator-grid > button {
    cursor: pointer;
    font-size: 1.5rem;
    background-color: hsl(30, 25%, 89%);
    color: hsl(221, 14%, 31%);
    outline: none;
    border: 0;
    padding: 0;
    height: 60px;
    border-radius: 5px;
    box-shadow: 0px 4px 0px hsl(28, 16%, 65%);
  }

  .span-two {
    grid-column: span 2;
  }

/* Attribution footer */

.attribution { 
  font-size: 11px; 
  text-align: center; 
  margin-top: 50px;
}
    
.attribution a { 
  color: hsl(228, 45%, 44%); 
}