.button-background {
    background-color: blueviolet;
}

.checkmark {
    background-color: red;
}

.container input:checked ~ .checkmark {
    background-color: brown;
}

.container .checkmark:after {
    background: black;
} 